body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Rubik;
    src: url("Rubik.ttf");
}

.block-container {
    background-color: rgb(64, 64, 64);
    overflow: auto;
    height: 500px;
    font-family: Rubik;
    position: relative;
}

.block-container > .block {
    /* border: 3px solid yellow;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px; */
    /* filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.2)); */
    position: absolute;
}

.block-container .command.block {
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.block-container .block > .content {
    background-color: rgb(90, 90, 90);
    display: inline-block;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    font-family: Rubik;
    font-variation-settings: "wght" 380;
    position: relative;
}

.block-container .command.block > .content {
    border-radius: 0 100px 100px 0;
    margin-bottom: 2px;
    padding-left: 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateX(5px);
    padding: 4px;
}

.block-container .value.block > .content {
    border-radius: 100px 100px;
    margin-bottom: 2px;
    padding-left: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateX(5px);
    padding: 1px;
}

.block-container .command.block > .content::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    left: -5px;
    top: -1px;
    bottom: -1px;
    /* height: 20px; */
    background-color: rgba(255, 255, 255, 0.764);
}

.block-container .block > .content > .label {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.block-container .command.block > .content > .label:first-child {
    margin-left: 4px;
}

.block-container .block > .content > .label:first-child {
    margin-left: 10px;
}

.block-container .block > .content > .label:last-child {
    margin-right: 10px;
}

.block-container .command.block > .content > .value-slot {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.929);
    border-radius: 100px;
    margin-left: 2px;
    margin-right: 2px;
    color: black;
    padding: 5px 10px;
    min-width: 14px;
    text-align: center;
}

.block-container .command.block > .content > .value-slot:empty {
    content: "\00a0\00a0";
}

.block-container .command.block > .content > .value-slot:last-child {
    margin-right: 0px;
}

.block-container .command.block > .content > .choice {
    background-color: rgba(255, 255, 255, 0.231);
    border-radius: 100px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
    padding: 4px 10px;
    padding-right: 8px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    border: 1px solid rgba(255, 255, 255, 0.07);
    box-sizing: border-box;
}

/* .block-container .command.block > .content > .choice::after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid white;
    margin-left: 5px;
    translate: 0 2px;
} */

.block-container .command.block > .content > .choice::after {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    translate: 0 2px;
    background: url("drop-down-arrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert();
}

.block-container .action.block > .content {
    background-color: rgb(43, 130, 130);
}

.block-container .display.block > .content {
    background-color: rgb(123, 86, 183);
}

.block-container .data.block > .content {
    background-color: rgb(183, 115, 86);
}